*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat&display=swap');

.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logoLink{
    text-decoration: none;
    color: #fff;
}


.logo{
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
    font-family: 'Lexend Deca', sans-serif;
}